_target_: src.models.VAE
_recursive_: false  

K: 5
latent_dim: 30
param_dim: 5
data_input_dim: ${mul:${prod:${data.shape}},${data.dim}}
param_output_channel: ${mul:${data.dim},${model.param_dim}} # Dimension of the decoder output
param_output_dim: ${mul:${prod:${data.shape}},${model.param_dim}} # For decoder output

likelihood:
  _target_: src.likelihoods.CategoricalLikelihood
  param_dim: ${model.param_dim}

encoder:
  _target_: src.layers.PNEncoder
  input_dim: ${model.data_input_dim}
  emb_dim: 20
  h_dim: 50
  latent_dim: ${model.latent_dim}
  hidden_dims: [100, 100, 100] # Unclear in not-Miwae
    
decoder:
  _target_: src.layers.MLP
  input_dim: ${model.latent_dim}
  output_dim: ${model.param_output_dim}
  spectral_norm: False
  hidden_dims: [100, 100, 100]
  norm: null

